

<table id="pchemprop_table" class="input_table tab tab_ChemCalcs" style="display:none;">
	<tr>
		<th></th>
		<th><input class="calc_checkbox" id="id_test_select" name="test" type="checkbox">TEST</th>
		<th><input class="calc_checkbox" id="id_testws_select" name="testws" type="checkbox">TEST WS</th>
        <!-- <th>Average</th> -->
	</tr>
	<tr>
		<th><input id="id_all" type="checkbox"><span>All</span></th>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>

	<tr>
		<th class="pchem_label"><br><h3>Neutral Species Inputs:</h3></th>
	</tr>

	<tr>
		<th class="chemprop"><input id="id_melting_point" name="melting_point" type="checkbox" /> <span>Melting Point (&degC)</span></th>
		<td id="id_melting_point_TEST" class="ChemCalcs_available test melting_point"></td>
		<td id="id_melting_point_TESTWS" class="ChemCalcs_available testws melting_point"></td>

		</tr>
	

	
		<tr>
		<th class="chemprop"><input id="id_boiling_point" name="boiling_point" type="checkbox" /> <span>Boiling Point (&degC)</span></th>
		<td id="id_boiling_point_TEST" class="ChemCalcs_available test boiling_point"></td>
		<td id="id_boiling_point_TESTWS" class="ChemCalcs_available testws boiling_point"></td>

		</tr>
	

	
		<tr>
		<th class="chemprop"><input id="id_water_sol" name="water_sol" type="checkbox" /> <span>Water Solubility (mg/L)</span></th>
		<td id="id_water_sol_TEST" class="ChemCalcs_available test water_sol"></td>
		<td id="id_water_sol_TESTWS" class="ChemCalcs_available testws water_sol"></td>

		</tr>
	

	
		<tr>
		<th class="chemprop"><input id="id_vapor_press" name="vapor_press" type="checkbox" /> <span>Vapor Pressure (mmHg)</span></th>
		<td id="id_vapor_press_TEST" class="ChemCalcs_available test vapor_press"></td>
		<td id="id_vapor_press_TESTWS" class="ChemCalcs_available testws vapor_press"></td>

		</tr>



	<tr>
		<th></th>
		<td class="ChemCalcs_available colorKey">Available</td>
		<td class="ChemCalcs_unavailable colorKey">Unavailable</td>
	</tr>
</table>