<script type="text/javascript" src="/static_qed/cts/stylesheets/jquery.validate.js"></script>

<script type="text/javascript">

var UnitTest = {

	webservice_data: [],  // original pchem data from calc services
	csv_pchem_array: [],
	csv_output_array: [],
	batch_chems: [],  // "nodes" replacement
	calls_tracker: 0,
	total_calls: 0,

	init: function (settings) {
		// any config stuff, initializing..
		UnitTest.setup();
	},

	setup: function () {

		$('.input_nav').hide();

		$('#upfile1').change(function (evt) {

			var data = null;
			var file = evt.target.files[0];
			var final_csv_array = [];
			UnitTest.csv_pchem_array = [];

			var reader = new FileReader();
			reader.readAsText(file);
			reader.onload = function (e) {

				var csv_data = reader.result;
				var csv_array = csv_data.split('\n');  // array item is row in csv
				csv_array.pop();  // remove trailing blank array

				var headers = csv_array[0].split(',');

				for (var i = 1; i < csv_array.length; i++) {
					final_csv_array.push(csv_array[i].split(','));  // csv --> array of arrays

					UnitTest.csv_pchem_array.push([]);
					var pchem_array = csv_array[i].split(',');  // an array of pchem data

					for (var j = 0; j < pchem_array.length; j++) {
						var data_obj = {};
						data_obj[headers[j]] = final_csv_array[i - 1][j];
						UnitTest.csv_pchem_array[i - 1].push(data_obj);
					}

				}

				if (final_csv_array && final_csv_array.length > 0) {
					UnitTest.displayCSVChemicals(final_csv_array);
				}
				else {
					alert("No data imported");
				}
			};
			reader.onerror = function () {
				alert("Unable to read " + file.fileName);
			};

		});

		$('.submit').click(function (event) {
	        checkedCalcsAndProps = buildCheckedCalcsAndProps();  // cts_pchem_requests func
	        blockInterface(true);
	        UnitTest.total_calls = calculateTotalCalls([UnitTest.batch_chems.length], checkedCalcsAndProps);
	        UnitTest.calls_tracker = UnitTest.total_calls;
	        UnitTest.pchemRequests(checkedCalcsAndProps);
		});

	},

	pchemRequests: function (checkedCalcsAndProps) {

		var socket;

		// connect to socket.io!
        if (nodejs_host == 'nginx') {
            socket = io.connect();  // docker way
        }
        else {
            if (nodejs_port && nodejs_port != 80) {
                socket = io.connect('http://' + nodejs_host + ':' + nodejs_port, {'force new connection': true});
            }
            else {
                socket = io.connect(nodejs_host, {'force new connection': true});
            }
        }

		var pchem_data = {
	        'chemical': structure,
	        'ph': kowPH,
	      	'nodes': UnitTest.batch_chems,
	        'pchem_request': checkedCalcsAndProps
	    };

	    var cache = [];
	    var pchem_data_json = JSON.stringify(pchem_data, function(key, value) {
	        if (typeof value === 'object' && value !== null) {
	            if (cache.indexOf(value) !== -1) {
	                // Circular reference found, discard key
	                return;
	            }
	            // Store value in our collection
	            cache.push(value);
	        }
	        return value;
	    });
	    cache = null; // Enable garbage collection

	    socket.emit('get_data', pchem_data_json);

	    socket.on('message', function (data) {

	    	UnitTest.calls_tracker--;
            console.log("calls tracker: " + UnitTest.calls_tracker);
            updateProgressBar(UnitTest.calls_tracker, UnitTest.total_calls);  // from cts_gentrans_tree

            var data_obj = JSON.parse(data);

            UnitTest.webservice_data.push(data_obj);

			if (UnitTest.calls_tracker <= 0) {
	            console.log("All data retrieved!");
	            blockInterface(false);

	            // once all the webservice data is collected,
	            // convert it to the same format as csv_pchem_array!

	            UnitTest.parseWebserviceDataForCSV();

			}

		});
	},

	displayCSVChemicals: function (csv_array) {
		var batch_chems = [];
		for (var i = 0; i < csv_array.length; i++) {
			// build smiles array (1st item of each csv item, skip 1st one, which is headers)
			batch_chems.push(csv_array[i][0]);
			UnitTest.batch_chems.push({'smiles': csv_array[i][0]});  // "nodes" replacement
		}

		// only allow ten max for now:
		if (batch_chems.length > 10) {
			alert("Early batch version is only accepting a maximum of 10 chemicals at a time. This will be increased in the near future. Try reducing the number of chemicals in the file, refresh the page, and try again..");
			return;
		}

		var batch_inputs = $('#pchem_batch_wrap');
		$(batch_inputs).show();
		$(batch_inputs).children().show();
		$('#cont, #reactionpathways').hide();  // todo: separate html and js in ts_gentrans_tree.html

		for (chem in batch_chems) {
			$('#batch_list').append('<li>' + batch_chems[chem] + '</li>');
		}

		$('#batchfilewrap').show();
		$('#pchemprop_table').show();
		$('.input_nav').show();
	},

	parseWebserviceDataForCSV: function () {

		var ws_data_obj = UnitTest.webservice_data;

		// will the ws and csv smiles always align???
		// NOTE: currently making a new row per ws data,
		// which is incorrect. There will be more ws datum than rows.

		// Maybe the main loop should be the CSV data instead,
		// then loop ws data for each CSV datum.


		for (var i = 0; i < UnitTest.csv_pchem_array.length; i++) {

			// loopin each row..
			var csv_smiles_obj = UnitTest.csv_pchem_array[i][0];
			var csv_smiles = csv_smiles_obj['smiles'];

			var new_row = [];
			new_row.push(csv_smiles_obj);  // smiles

			// this loop could only loop set of csv data based off
			// pchem table selection instead of looping entire csv
			for (var csv_index in UnitTest.csv_pchem_array[i]) {

				// loopin key:val obj of csv row's data..

				var csv_pair = UnitTest.csv_pchem_array[i][csv_index];
				var csv_key = Object.keys(csv_pair)[0];  // should only be one item
				var csv_val = Number(csv_pair[csv_key]);

				for (var j = 0; j < ws_data_obj.length; j++) {

					// loopin ws data to match csv data..

					var smiles_ws = ws_data_obj[j]['chemical'];
					var prop_ws = ws_data_obj[j]['prop'];
					var calc_ws = ws_data_obj[j]['calc'];
					var data_ws = ws_data_obj[j]['data'];

					var csv_match_header = csv_key.indexOf(calc_ws) > -1 && csv_key.indexOf(prop_ws) > -1 && csv_smiles == smiles_ws;

					var csv_match_pka = (csv_key.indexOf('pka') > -1 && prop_ws == 'ion_con' && csv_key.indexOf(calc_ws) > -1) && csv_smiles == smiles_ws;

					if (csv_match_header || csv_match_pka) {

						// only build output csv with selected calcs-props
						// values for both csv and ws data.

						var csv_key_ws = "";  // output csv key for ws data
						var csv_key_input = "";  // output csv key for input csv data

						if (prop_ws == 'ion_con') {
							// headers look like "pka_n", where n > 0
							console.log("what do here?");

							// are there multiple pka values per calc from desktop models???

							// input csv data:
							csv_key_input = csv_key + " CSV";
							var csv_obj = {};
							csv_obj[csv_key_input] = csv_val;
							if (!(UnitTest.containsObject(csv_obj, new_row))) {
								new_row.push(csv_obj);  // add to list if not already there
							}

							// assumption: 1 pka val from csv, ws data is object with
							// keys pKa and pKb, with vals being array of pka vals.
							// but what about sparc???
							for (var pka_type in data_ws) {
								var n = 1;
								for (var pka in data_ws[pka_type]) {
									csv_key_ws = pka_type + '_' + n + ' (' + calc_ws + ')';
									var csv_obj = {};
									var csv_pka_val = data_ws[pka_type][n - 1]; 
									csv_obj[csv_key_ws + ' WS'] = csv_pka_val;
									// new_row.push(csv_obj);
									if (!(UnitTest.containsObject(csv_obj, new_row))) {
										new_row.push(csv_obj);  // add to list if not already there
									}

									// todo: make calculations separate UnitTest function
									// percent difference:
									var data_diff = Math.abs(csv_val - csv_pka_val);
									var data_avg = (csv_val + csv_pka_val) / 2;
									var percent_diff = 100 * (data_diff / data_avg);
									// csv_key_input = csv_key + " % diff";
									csv_key_input = csv_key_ws + " %DIFF";
									var csv_obj = {};
									csv_obj[csv_key_input] = percent_diff;
									new_row.push(csv_obj);

									n++;
								}
								n = 1;
							}

						}
						else {
							if ('method' in ws_data_obj[j]) {
								// chemaxon kow_wph or kow_no_ph:
								csv_key_ws = csv_key + ws_data_obj[j]['method'] + " WS";
							}
							else {
								csv_key_ws = csv_key + " WS";
							}

							// input csv data:
							csv_key_input = csv_key + " CSV";
							var csv_obj = {};
							csv_obj[csv_key_input] = csv_val;
							if (!(UnitTest.containsObject(csv_obj, new_row))) {
								new_row.push(csv_obj);  // add to list if not already there
							}

							// web service data:
							var csv_obj = {};
							csv_obj[csv_key_ws] = data_ws;
							new_row.push(csv_obj);

							// todo: make calculations separate UnitTest function
							// percent difference:
							var data_diff = Math.abs(csv_val - data_ws);
							var data_avg = (csv_val + data_ws) / 2;
							var percent_diff = 100 * (data_diff / data_avg);
							// csv_key_input = csv_key + " % diff";
							csv_key_input = csv_key_ws + " %DIFF";
							var csv_obj = {};
							csv_obj[csv_key_input] = percent_diff;
							new_row.push(csv_obj);

						}

					}

				}

			}
			UnitTest.csv_output_array.push(new_row);

		}
		console.log(UnitTest.csv_output_array);
		var csv_output_data = UnitTest.csv_output_array;
		UnitTest.sendCSVDataToServer(csv_output_data);

		UnitTest.garbageCollection();

	},

	sendCSVDataToServer: function (csv_output_data) {

		// +++++ todo: make this its own function +++++
        var cache = [];
		json_data = JSON.stringify(csv_output_data, function(key, value) {
		    if (typeof value === 'object' && value !== null) {
		        if (cache.indexOf(value) !== -1) {
		            return;  // Circular reference found, discard key
		        }
		        cache.push(value);
		    }
		    return value;
		});
		cache = null;  // Enable garbage collection
		// +++++++++++++++++++++++++++++++++++++++++++++

		$('table.getpdf').html("");
		$('form').append('<table class="getpdf"></table>');
		$('<tr style="display:none"><td><input type="hidden" name="csv_data"></td></tr>')
				.appendTo('.getpdf')
				.find('input')
				.val(json_data);

		$('form').attr({'action': '/cts/testing/csv', 'method': 'POST'}).submit();

	},

	containsObject(obj, arr) {
		for (var i = 0; i < arr.length; i++) {
			if (Object.keys(arr[i])[0] == Object.keys(obj)[0]) {
				return true;
			}
		}
		return false;
	},

	garbageCollection() {
		// reinitialize vars and such for next run
		UnitTest.csv_output_array = [];  // garbage collection
		UnitTest.webservice_data = [];  // garbage collection
		UnitTest.calls_tracker = 0;
		UnitTest.total_calls = 0;
	}

};
$(document).ready(UnitTest.init);

</script>
</form> <!-- end submit form -->
</div> <!-- End "articles" div -->
